<header class="main-header">
<div class="logo">
    {% load static %}
    <a href="{% url 'users:home' %}">
        <img src="{% static 'img/mediturno_logo.png' %}" alt="Mediturno" class="logo-img">
    </a>
</div>

    <button class="hamburger" onclick="toggleMenu()">☰</button>

    <nav id="mobileMenu" class="mobile-menu hidden">
        <button class="close-button" onclick="toggleMenu()">✕</button>
        <ul>
            <li><a href="{% url 'users:home' %}">Inicio</a></li>
            <li><a href="{% url 'notifications:lista_notificaciones' %}">Recordatorios</a></li>
            <li><a href="{% url 'appointments:buscar_medicos' %}">Turnos</a></li>
            <li><a href="#">Calendario</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Configuración</a></li>
            <li><button id="toggle-dark-mode" onclick="toggleDarkMode()">Modo oscuro</button></li>
            <li><a href="{% url 'users:logout' %}">Cerrar sesión</a></li>
        </ul>
    </nav>
</header>