{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mediturno - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <script src="{% static 'js/menu.js' %}" defer></script>
</head>

<body>
    {% include "includes/header.html" %}
    <main class="home-buttons">
        <button onclick="location.href='{% url 'notifications:lista_notificaciones' %}'">Recordatorio rápido</button>
        <button onclick="location.href='{% url 'appointments:buscar_medicos' %}'">Pedidos de turno</button>
        <button>Calendario</button>
    </main>
    <script src="{% static 'js/darkmode.js' %}"></script>
</body>

</html>