{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mediturno - Sugerir Turno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/suggest_turno.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <script src="{% static 'js/menu.js' %}" defer></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
</head>

<body>
    {% include "includes/header.html" %}
    
    <div class="contenido-sugerencias">
        <h2>Sugerencias de próximos turnos</h2>

        {% for item in suggestions %}
        <div class="medic-suggestion">
            <h3>{{ item.medic.nombre }} {{ item.medic.apellido }}</h3>   

            {% if item.suggested_date %}
            <p class="sugerencia">
                <a href="{% url 'appointments:buscar_medicos' %}">
                    Sugerencia: <strong>{{ item.suggested_date|date:"d/m/Y" }}</strong>
                </a>
            </p>
            {% else %}
            <p class="sugerencia vacia">No hay suficientes turnos previos para sugerir una fecha.</p>
            {% endif %}
        </div>
        {% empty %}
        <p class="sugerencia vacia">No hay turnos previos.</p>
        {% endfor %}
    </div>
</body>


</html>