{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mediturno - Agenda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <script src="{% static 'js/menu.js' %}" defer></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
</head>

<body>
    {% include "includes/header_admin.html" %}
    <h2>Médicos de la clínica y sus turnos</h2>
    {% for item in medicos_con_turnos %}
    <div class="medico-card">
        <h3>{{ item.medico.user.nombre }} {{ item.medico.user.apellido }}</h3>
        <ul>
            {% for turno in item.turnos %}
            <li>
                {{ turno.fecha_inicio|date:"d/m/Y H:i" }} - Paciente:
                {% if turno.paciente %}
                {{ turno.paciente.nombre }} {{ turno.paciente.apellido }}
                {% else %}
                (Sin paciente)
                {% endif %}
                - Estado: {{ turno.get_estado_display }}
            </li>
            {% empty %}
            <li>No hay turnos para este médico.</li>
            {% endfor %}
        </ul>
    </div>
    {% empty %}
    <p>No hay médicos asociados a esta clínica.</p>
    {% endfor %}
</body>

</html>