{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mediturno - Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <script src="{% static 'js/menu.js' %}" defer></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
</head>
<body>
    {% include "includes/header_admin.html" %}
    <main class="home-buttons">
        <button onclick="location.href='{% url 'clinic_admin:gestionar_medicos' %}'">Gestion de Medicos</button>
        <button onclick="location.href='{% url 'clinic_admin:agenda_medicos' %}'">Agenda de profesionales</button>
        <button onclick="location.href='{% url 'clinic_admin:ficha_pacientes' %}'">Ficha de pacientes</button>
    </main>
</body>
</html>